/*body主体的css样式设置*/
* {
	margin:0;padding:0;
	}
ul,li{
	list-style:none;
	}
a{
	text-decoration: none;color:#000;
	}
a:hover{
	color:#F00;
	}
img{
	border:0;
	}
body{
	color:#000;
	background:#fff url(../../image/wholepage_bg.gif) repeat-x left top;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	margin:0;
	padding:0;
	line-height:180%;
	font-size:12px;
	}
/*去除chrome浏览器focus自动添加边框效果*/
*:focus {
	outline:none;
	}
